@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body,
input,
button,
textarea {
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
  color: #1c2a39;
}

.open-sans {
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
}
