@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body,
input,
button,
textarea {
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
  color: #1c2a39;
}

.open-sans {
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
}

.shadow-promo > * {
  position: relative;
  z-index: 2;
}

.shadow-promo:after {
  content: '';
  display: block;
  position: absolute;
  width: 80%;
  height: 90%;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  box-shadow: 0 24px 36px rgba(53, 49, 84, 0.28);
}
